services:
  home-web-nginx:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    networks:
      - home_network
    restart: always
networks:
  home_network:
    external: true
