services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "50000:50000"
    environment:
      - JAVA_OPTS=-Duser.timezone=Asia/Tokyo
      - JENKINS_OPTS="--prefix=/jenkins"
    volumes:
      - jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - home_network
    restart: always

volumes:
  jenkins_data:
  
networks:
  home_network:
    external: true
